.section-one {
  display: flexbox;
  flex-direction: column;
  align-items: left;
}

.section-two {
  display: flexbox;
  flex-direction: column;
  align-items: right;
}

form {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  max-width: 800px;
  width: 75%;
}

.team-container {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 20px;
  width: 80%;
}

.game-details {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 20px;
  width: 80%;
}

.add-game-button {
  align-items: center;
}

.vs {
  font-size: 50px;
  color: white;
  
}

.a {
  align-items: center;
}